<md-toolbar id="header">
    <div class="md-toolbar-tools toolbar-bar-collor" layout="row">

        <md-button style="background: black;" hide-gt-sm ng-click="toggleLeft()">
            <md-icon class="iconMenu" md-svg-src="../web/images/icons/ic_dehaze_white_24px.svg" ></md-icon>
            <md-tooltip>
            Abrir menu
            </md-tooltip>
        </md-button>

        <img hide-xs ng-src="../web/images/logo_header.png" style="max-height: 50%;min-height: 40%;">
        <h1 hide-xs style="display: table; color: white;">Minha Cidade</h1>

        <span class="position-img">
            <a href="https://www.facebook.com/minhacidadejp/">
                <md-icon md-svg-src='..web/images/icons/facebook-app-symbol.svg' style="font-size: 48px; height: 60px;"></md-icon>
            </a>
        </span>
    </div>
</md-toolbar>