<div id="wrap" layout="row" layout-wrap>
	<md-card>
	    <img ng-src="../web/images/estampa.png" class="md-card-image" alt="Washed Out">
	    <md-card-title>
	      	<md-card-title-text>
	        	<span class="md-headline">Action buttons</span>
	      	</md-card-title-text>
	    </md-card-title>
	    <md-card-content>
	      	<md-card md-theme="default" md-theme-watch>
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">Orçamento</span>
		            <span class="md-subhead">Áreas, Distribuição, Valores, Gráficos</span>
		          </md-card-title-text>
		          <md-card-title-media>
		            <div class="md-media-md card-media"></div>
		          </md-card-title-media>
		        </md-card-title>
		    </md-card>

		    <md-card md-theme="default" md-theme-watch>
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">Gastômetro</span>
		            <span class="md-subhead">Gastos, Gráficos, Áreas, Anual</span>
		          </md-card-title-text>
		          <md-card-title-media>
		            <div class="md-media-md card-media"></div>
		          </md-card-title-media>
		        </md-card-title>
		    </md-card>

		    <md-card md-theme="default" md-theme-watch>
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">Você Sabia?</span>
		            <span class="md-subhead">Curiosidade, Valores, Graficos, Anual</span>
		          </md-card-title-text>
		          <md-card-title-media>
		            <div class="md-media-md card-media"></div>
		          </md-card-title-media>
		        </md-card-title>
		    </md-card>
	    </md-card-content>
	</md-card>
</div>
