<div id="wrap" layout="row" layout-wrap>
	<md-card>
	    <img ng-src="../web/images/estampa.png" class="md-card-image" alt="Washed Out">
	    <md-card-content>
	      	<md-card md-theme="default" md-theme-watch>
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">Orçamento</span>
		            <span class="md-subhead">Informações sobre o orçamento disponível previsto para 2017 e como ele será distribuído nas áreas essenciais para a população da cidade.
</span>
		          </md-card-title-text>
		          <md-card-title-media>
		            <div class="md-media-md card-media"></div>
		          </md-card-title-media>
		        </md-card-title>
		    </md-card>

		    <md-card md-theme="default" md-theme-watch>
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">Gastômetro</span>
		            <span class="md-subhead">Ferramenta que possibilita acompanhar em tempo real os gastos municipais no geral e em cada área. Saiba mais detalhes sobre os gastos atuais e de anos anteriores clicando no Gastômetro de uma área.</span>
		          </md-card-title-text>
		          <md-card-title-media>
		            <div class="md-media-md card-media">
		            </div>
		          </md-card-title-media>
		        </md-card-title>
		    </md-card>

		    <md-card md-theme="default" md-theme-watch>
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">Você Sabia?</span>
		            <span class="md-subhead">Curiosidades e comparações relacionadas às informações dos gastos com Publicidade e Viagens.</span>
		          </md-card-title-text>
		          <md-card-title-media>
		            <div class="md-media-md card-media"></div>
		          </md-card-title-media>
		        </md-card-title>
		    </md-card>

		    <md-card md-theme="default" md-theme-watch>
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">Educacional</span>
		            <span class="md-subhead">Quer aprofundar seu conhecimento sobre finanças públicas? Acesse essa opção do menu e aprenda de forma muito fácil.</span>
		          </md-card-title-text>
		          <md-card-title-media>
		            <div class="md-media-md card-media"></div>
		          </md-card-title-media>
		        </md-card-title>
		    </md-card>

		    <md-card md-theme="default" md-theme-watch>
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">Reclame aqui</span>
		            <span class="md-subhead"> Quer realizar uma reclamação, sugestão, elogio relacionado aos dados públicos e à transparência? Saiba como acessando essa opção.</span>
		          </md-card-title-text>
		          <md-card-title-media>
		            <div class="md-media-md card-media"></div>
		          </md-card-title-media>
		        </md-card-title>
		    </md-card>
	    </md-card-content>
	</md-card>
</div>
