<div id="wrap" layout="row" layout-wrap>

    <md-card width=" 100%"flex-gt-md="100" ng-repeat="gasto in ctrl.gastometros">
        <md-card-title>
            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img area="true" ng-src="images/icons/ic_av_timer_black_24px.svg">
                </div>
            </md-card-title-media>

            <md-card-title-text>
                <span class="md-subhead" style="color:black;">TOTAL</span>
                <gastometro valor="{{valorTotal}}"></gastometro>
            </md-card-title-text>
        </md-card-title>
    </md-card>

    <md-card ng-hide="gasto.area == 'judiciaria'" width=" 70%"flex-gt-md="40" ng-repeat="gasto in ctrl.gastometros" ng-click="showTabDialog($event,gasto.idArea)">
        <md-card-title>

            <md-card-title-media>
                <div class="md-media-sm card-media">
                    <img seticons type="{{gasto.area}}" area="true" ng-src="images/icons/ic_av_timer_black_24px.svg">
                </div>
            </md-card-title-media>

            <md-card-title-text>
                <span class="md-subhead" style="color:black;">{{gasto.area | uppercase}}</span>
                <gastometro valor="{{gasto.pago}}"></gastometro>
            </md-card-title-text>
        </md-card-title>
    </md-card>
</div>
