<div id="wrap" layout="row">
        <md-card class="card-vocesavia" ng-click="showTabDialog($event,gasto.idArea)">
            <md-card-header  class="card-header" style="max-height: 50px;">
                <div class="icon-card">
                    <img ng-src="images/icons/ic_local_see_black_24px.svg" class="md-avatar" style="width: 65px;"/>
                </div>
                <md-card-header-text layout="column">
                    <span class="md-subhead">Gasto nos últimos 4 anos:</span>
                    <span class="md-title">R$ 43,783,237.99</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title class="card-azul">
                <span class="md-subhead">Publicidade</span>
            </md-card-title>
            <md-divider class="divsize" style="border-top-color: rgba(0,0,0,0.12);" ></md-divider>
            <md-card-title class="card-footer-vc-sabia">
                <span class="md-subhead">Com esse valor é possível comprar 109 mil cestas básicas no valor de 400 reais cada.</span>
            </md-card-title>
        </md-card>

        <md-card class="card-vocesavia" ng-click="showTabDialog($event,gasto.idArea)">
            <md-card-header class="card-header" style="max-height: 50px;">
                <div class="icon-card">
                    <img ng-src="images/icons/ic_flight_takeoff_black_24px.svg" class="md-avatar" style="width: 65px;"/>
                </div>
                <md-card-header-text layout="column">
                    <span class="md-subhead">Gasto nos últimos 4 anos:</span>
                    <span class="md-title">R$  13,966,272.84</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title class="card-amarelo">
                <span class="md-subhead">Diárias e Passagens</span>
            </md-card-title>
            <md-divider class="divsize" style="border-top-color: rgba(0,0,0,0.12);" ></md-divider>
            <md-card-title class="card-footer-vc-sabia">
                <span class="md-subhead">Com esse valor é possível construir 232 casas populares no valor de 60 mil reais cada.</span>
            </md-card-title>
        </md-card>

</div>